.body{
    width:100vw;
    height:100vh;
    position: relative;
    background-color:hsl(210, 46%, 95%);
}
.colu{
    position: absolute;
    height:300px;
    width:800px;
    background-color: hsl(0, 0%, 100%);
    display:flex;
    top:200px;
    left:300px;
    border-radius: 15px;
    padding-left: 0;
    padding:0;
}
.drawer{
    top:0;
    height: 300px;
    width:300px;
    background: url(/images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    padding: 0;
    margin:0;
    justify-content: flex-start;
    border-radius: 15px;
}
.fw-bold{
    line-height: 1.1em;
    font-size:1.2em;
    color:hsl(217, 19%, 35%);
}
.fw-normal{
    font-size:1.2em;
    line-height: 1.2em;
    width:450px;
    color:hsl(214, 17%, 51%);
}
.flex-2{
     width:500px;
     height: 300px;
     padding: 20px 30px;
}
.svg{
    height:25px;
    width:0px;
    background-color: hsl(210, 46%, 95%);
    margin-top: 10px;
   border-radius: 50%;
}
.share{
    padding-left: 10px;
    cursor:pointer;
    padding-top: -10px;
    
}


.image{
    height:50px;
    width:50px;
    border-radius: 50%;
}
.rowt{
    height:30px;
    width:100px;
    background-color:hsl(217, 19%, 35%) ; 
     visibility: hidden;
    
}
/* for mobile view */
@media (max-width:500px) {
    .body{
        width:100vw;
        height:100vh;
    }
    .colu{
       
        height:80vh;
        width:40vw;
        display: flex;
        flex-direction:row;
        top:100px;
        left:150px;
    }
    .drawer{
        height: 30vh;
        width:40vw;
        border: bottom radius 2px;
        flex:1;
        order: 1;
    }
    .flex-2{
        font-size: smaller;
        width:40vw;
       height: 50vh;
       flex:2;
       order:2;

    }
}
